.promo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center ;
  background-color: #073042;
  width: 100%;
}
.promo__logo{
  position: absolute;
}
.promo__heading{
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #FFFFFF;
  z-index: 1;
}
@media screen and (max-width: 320px){
  .promo__heading{
      font-size: 31px;
      line-height: 39px;
  }
  .promo{
    height: 570px;
  }
  .promo__logo{
    height: calc((100%*8/56) + (1376px/7));
  }
}
@media screen and (min-width: 320px) and (max-width: 768px){
  .promo__heading{
      font-size: calc((100%*19/448) + (122px/7));
      line-height: calc((100%*19/448) + (178px/7));
  }
  .promo{
    height: calc((100%*107/224) + (2920px/7));
  }
  .promo__logo{
    height: calc((100%*8/56) + (1376px/7));
  }
}
@media screen and (min-width: 768px) and (max-width: 1280px){
  .promo__heading{
      font-size: 50;
      line-height: 58;
  }
  .promo{
    height: calc((100%*-65/128) + 1174px);
  }
  .promo__logo{
    height: 320px;
  }
}
@media screen and (min-width: 1280px){
  .promo__heading{
      font-size: 50px;
      line-height: 58px;
  }
  .promo{
    height: 524px;
  }
  .promo__logo{
    height: 320px;
  }
}