.register{
  display: flex;
  flex-direction: column;
}
.register__image{
  width: 38px;
  height: 38px;
}
.register__greeting{
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  align-items: 29px;

}
.register__form{
  display: flex;
  flex-direction: column;
}
.register__placeholder{
  margin: 0;
  margin-bottom: 10px;
  color: #A0A0A0;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
}
.register__inpute{
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #F9F9F9;
  margin-bottom: 20px;
  border-radius: 8px;
  border: none;
}
.register__inpute-username:invalid{
  color: #FF3055;
}
.register__inpute-email:invalid{
  color: #FF3055;
}
.register__inpute-password:invalid{
  color: #FF3055;
}
.register__span{
  display: none;
  position: absolute;
  margin-top: 10px;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
  color: #FF3055;
}
.register__span_active{
  display: block;
}
.register__button{
  background-color: #3456F3;
  color: white;
  border-radius: 3px;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  border: none;
  cursor: pointer;
}
.register__button:invalid{
  background-color: red;
}
.register__link-wrapper{
  display: flex;
  justify-content: center;
}
.register__link-text{
  margin: 0;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  columns: #A0A0A0;
}
.register__link{
  margin: 0;
  margin-left: 6px;
  font-style: normal;
  font-weight: 400;
  text-align: center; 
  color: #3456F3;
  cursor: pointer;
}
.register__link:hover{
  opacity: 0.6;
}

@media screen and (max-width: 320px) {
  .register {
    padding-left: calc((100vw - 13.7px)*39/112 + (-570px/7));
    padding-right: calc((100vw - 13.7px)*39/112 + (-570px/7));
    padding-top: 56px;
    padding-bottom: 30px;
  }
  .register__image{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }
  .register__greeting{
    margin-bottom: 80px;
    text-align: center;
  }
  .register__button{
    font-size: 12px;
    line-height: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 159px;
    margin-bottom: 14px;
  }
  .register__link-text{
    font-size: 12px;
    line-height: 15px;
  }
  .register__link{
    font-size: 12px;
    line-height: 15px;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .register {
    padding-left: calc((100vw - 13.7px)*39/112 + (-570px/7));
    padding-right: calc((100vw - 13.7px)*39/112 + (-570px/7));
    padding-top: calc((100vw - 13.7px)*11/28 + (-488px/7));
    padding-bottom: calc((100vw - 13.7px)*101/224 + (-800px/7));
  }
  .register__image{
    margin-bottom: calc((100vw - 13.7px)*-5/224 + (400px/7));
  }
  .register__greeting{
    margin-bottom: calc((100vw - 13.7px)*-5/56 + (760px/7));
    text-align: left;
  }
  .register__button{
    font-size: calc((100vw - 13.7px)/224 + (74px/7));
    line-height: calc((100vw - 13.7px)/224 + (95px/7));
    padding-top: calc((100vw - 13.7px)/224 + (81px/7));
    padding-bottom: calc((100vw - 13.7px)/224 + (81px/7));
    margin-top: calc((100vw - 13.7px)*-11/56 + (1553px/7));
    margin-bottom: calc((100vw - 13.7px)/224 + (88px/7));
  }
  .register__link-text{
    font-size: calc((100vw - 13.7px)/224 + (74px/7));
    line-height: calc((100vw - 13.7px)/224 + (95px/7));
  }
  .register__link{
    font-size: calc((100vw - 13.7px)/224 + (74px/7));
    line-height: calc((100vw - 13.7px)/224 + (95px/7));
  }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .register {
    padding-left: calc((100vw - 13.7px)/2 + (-198px));
    padding-right: calc((100vw - 13.7px)/2 + (-198px));
    padding-top: calc((100vw - 13.7px)*-81/256 + (475px));
    padding-bottom: calc((100vw - 13.7px)*-81/256 + (475px));
  }
  .register__image{
    margin-bottom: 40px;
  }
  .register__greeting{
    margin-bottom: 40px;
    text-align: left;
  }
  .register__button{
    font-size: 14px;
    line-height: 17px;
    padding-top: 13px;
    padding-bottom: 13px;
    margin-top: 71px;
    margin-bottom: 18px;
  }
  .register__link-text{
    font-size: 14px;
    line-height: 17px;
  }
  .register__link{
    font-size: 14px;
    line-height: 17px;
  }
}

@media screen and (min-width: 1280px) {
  .register {
    padding-left: calc((100vw - 13.7px)/2 + (-198px));
    padding-right: calc((100vw - 13.7px)/2 + (-198px));
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .register__image{
    margin-bottom: 40px;
  }
  .register__greeting{
    margin-bottom: 40px;
    text-align: left;
  }
  .register__button{
    font-size: 14px;
    line-height: 17px;
    padding-top: 13px;
    padding-bottom: 13px;
    margin-top: 71px;
    margin-bottom: 18px;
  }
  .register__link-text{
    font-size: 14px;
    line-height: 17px;
  }
  .register__link{
    font-size: 14px;
    line-height: 17px;
  }
}